<h2>Product Catalog</h2>
<button class="btn btn-dark btn-sm" (click)="openCart()">Show Cart ({{items.length}})</button>
<div class="row">
    <div [className]="showCart ? 'col-9' : 'col'">
        <app-catalog [products]="products" (productEventEmitter)="onAddCart($event)" />
    </div>
    @if(showCart) {
    <div class="col-3">
        @if (items.length > 0) {
        <app-cart [items]="items" (idProductEventEmitter)="onDeleteCart($event)" [total]="total" />
        } @else {
        <div class="alert alert-info">There are no items in the cart</div>
        }
        <button class="btn btn-dark btn-sm" (click)="openCart()">Close Cart</button>
    </div>
    }

</div>